.list-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 8px 24px 0;
  }
  
  .list-header {
    min-height: 64px;
    margin: 8px 24px 0;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }